<head>
    <meta charset="utf-8">
    <title>Index</title>
    <meta name="" content="">
    <meta name="Louis Chauvet" content="">

</head>

<body>
    <div id="trainrecords">
        <ul>
            <li v-for="trainrecord in trainrecords">
                De <strong>{{ trainrecord['origin'] }}</strong> à <strong>{{ trainrecord['destination'] }}</strong> le
                <strong>{{ trainrecord['departureTime'] }}</strong> il reste au jour du
                <strong>{{ trainrecord['recordedTime'] }}</strong>
                <ul>
                    <li v-for="proposition in trainrecord['propositions']">
                        <strong>{{ proposition[1] }}</strong> places à <strong>{{proposition[0]}}</strong> €
                    </li>
                </ul>


            </li>
        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>