<head>
    <meta charset="utf-8">
    <title>train tracker - Index</title>
    <meta author="Louis Chauvet" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="./style/main.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div id="trainrecords">
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-1 mr-0" href="index.html">train-tracker</a>
        </nav>
        <div class="container">
            <div class="row">
                <nav class="col-1  bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="index.html">
                                    Index
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="charts.html">
                                    Charts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">
                                    About
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="col-md ml-sm-auto" role="main">
                    <div class="alert alert-info" v-show="loading">
                        Loading...
                    </div>
                    <h2>Train Records ({{trainrecords.length}})</h2>
                    <ul>
                        <li v-for="trainrecord in trainrecords">
                            De <strong>{{ trainrecord.origin }}</strong> à <strong>{{ trainrecord.destination }}</strong>
                            le <strong>{{ trainrecord.departureTime }}</strong> il reste au jour du
                            <strong>{{ trainrecord.recordedTime }}</strong>
                            <ul>
                                <li v-for="(proposition,type) in trainrecord['propositions']">
                                    <strong>{{ proposition.seats }}</strong> places à <strong>{{proposition.amount}}€</strong>
                                    en <strong>{{type}}</strong>

                                </li>
                            </ul>


                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="js/index.js"></script>
</body>

<footer class="page-footer">
    <div class="footer-copyright text-center">
        <i>© 2018 - Made by Louis Chauvet and Teddy Turquet</i>
    </div>
</footer>

</html>